/* filepath: d:\smartalarm-\smartalarm\src\app\alarm-item\alarm-item.component.scss */
ion-button.delete {
    --background: red !important; /* Force the background color to red */
    --color: white !important;    /* Force the text color to white */
    font-size: 1rem;
  }